{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static "bundles/index.bundle.js" %}"></script>
    <!--==========BOXICONS=============-->
    
    <title>Ecommerce Website</title>
</head>
<body>
    <!--===========HEADER==========-->
    <header class="l-header" id="header"> 
        <nav class="nav bd-grid">
            <div class="nav__toggle" id="nav-toggle">
                <box-icon type='solid' name='grid'></box-icon>
            </div>

            <a href="#" class="nav__logo">Roby</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Featured</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Women</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">New</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>

                </ul>
            </div>
            
            <div class="nav shop">
                <box-icon name='shopping-bag' ></box-icon>
            </div>

        </nav>

    </header>

    <script>
        const showMenu = (toggleId, navId) =>{
            const toggle = document.getElementById(toggleId)
            const nav = document.getElementById(navId)
        
            if(toggle && nav){
                toggle.addEventListener('click', ()=>{
                    nav.classList.toggle('show')
                })
            }
        }
        showMenu('nav-toggle','nav-menu'); 

        const navLink = document.querySelectorAll('.nav__link')
        const navMenu = document.getElementById('nav-menu')
        
        function linkAction(){
           navMenu.classList.remove('show')
        }
        
        navLink.forEach(n => n.addEventListener('click', linkAction))
    
    </script>
    
</body>
</html>